.Games {
  &-empty {
    color: white;
  }
  &-game {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 16px;

    &-info {
      display: flex;
      flex-direction: column;
      text-decoration: none;
    }

    &-info--pointer {
      cursor: pointer;
    }

    &-teamInfo {
      display: flex;
      margin-bottom: 10px;
    }

    &-star {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      cursor: pointer;
    }

    &-title {
      color: white;
      font-weight: 100;
      font-size: 25px;
      margin: 0px 8px;
      width: 400px;
    }

    &-avatar {
      width: 40px;
      height: 40px;
    }

    &-score {
      font-size: 25px;
      color: white;
      font-weight: 100;
    }

    &-statusContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      color: white;
      font-weight: 100;
      font-size: 25px;
    }
  }
}

@media (max-width: 600px) {
  .Games {
    &-game {
      &-star {
        width: 22px;
        height: 22px;
        margin-right: 6px;
      }

      &-title {
        font-size: 16px;
        margin: 0px 4px;
      }
      &-avatar {
        width: 30px;
        height: 30px;
      }
      &-title {
        width: 170px;
      }
      &-score {
        font-size: 16px;
      }
      &-statusContainer {
        font-size: 13px;
      }
    }
  }
}
