// imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import 'games.scss';
@import 'navigation.scss';
@import 'calendar.scss';

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #212121;
}

.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-nba {
    width: 85%;
    max-width: 450px;
    height: 300px;
  }

  &-title {
    color: white;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .HomePage {
    &-nba {
      height: 250px;
    }
  }
}
