.Players {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

  &-container {
    min-height: 400px;
    width: 100%;
  }

  &-Games {
    color: white;
    margin: 0px 12px;
    margin-top: 22px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    overflow: auto;
    &-notFound {
      font-weight: 300;
      font-size: 25px;
    }

    &-Header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid white;
      margin-bottom: 12px;
      padding-bottom: 7px;
    }

    &-Rows {
      display: flex;
      flex-direction: column;
    }

    &-Row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      &-item {
        min-width: 50px;
        font-size: 15px;
      }

      &-versus {
        flex: 0.4;
        text-align: left;
        max-width: 200px;
        min-width: 200px;
        font-size: 16px;
      }
    }
  }

  &-Search {
    color: white;
    font-weight: 100;

    &-title {
      font-weight: 100;
      font-size: 22px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
    }
    &-input {
      outline: none;
      width: 200px;
      height: 40px;
      background-color: #424242;
      color: white;
      border: none;
      border-radius: 10px;
      padding-left: 4px;
      font-size: 16px;
    }
    &-button {
      background-color: #424242;
      height: 40px;
      padding: 0px 18px;
      margin-left: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .Players {
    &-Games {
      &-Row {
        &-item {
          font-size: 13px;
        }

        &-player {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .Players {
    &-Games {
      &-Row {
        &-item {
          min-width: 46px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .Players {
    &-Search {
      &-title {
        font-size: 18px;
      }
    }
    &-Games {
      &-Row {
        &-item {
          font-size: 12px;
        }

        &-player {
          font-size: 13px;
        }
      }
    }
  }
}
